<div class="row center-block">
  <div class="col-md-2"></div>
  <div class="col-md-8">  
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>About Us</h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img alt="about-us-page" src="img/aboutus1.jpg" />             
        </div>
        <div class="col-md-6 columns">
          <p>
            The Candywood Whitetail Ranch&#174; was established 2016 by the mutual calabroation of the Canella family and Micheal Mullenax.  This 275 acre ranch is ideally situated within the bossom of Ohio's Western Reserve Terrritory and boasts acres of Timber, fields of grain crops as wella as vast areas of multifloral brush that provides premium white tail habitat.  This coveted propery has been in the Candella family since 1965, originally operated as a golf course, it has recently been renovated to a very unigue Bed &#38; Breakfast Hunt style lodge.  The Lodge itself is of 1870 vintage and registered with the Ohio Barn Society.  Accomidating 12 guests the lodge also has a full service bar and dinning facility, kitchen, upper and lower lounges, multiple big scren tv's, pool tables, putting green, horse shoes and internet capabilities.  Bass fishing is also readily available with the ranch confines.
          </p>
        </div>
        <div class="col-md-6">
          <img alt="about-us-page" src="img/aboutus2.jpg" />             
        </div>
        <div class="col-md-6 columns">
          <p>
            Candywood Whitetail Ranch&#174; prides itseld on hunter success.  Candywood Whitetail Ranch&#174; is an <a href="http://ohiodnr.gov">Ohio Department of Natural Resources</a> registered whitetail preserve so there are no bag limits.  All acceptablemethods of hunting are available: shotgun, bow,  rifle, crossbow, hand gun, black powder.
          </p>
          <p>
            Candywood Whitetail Ranch&#174; prides itself on hunter success rate.  We specialixe in trophy whitetails however your the boss and we will put you on the deer of your choice be it a management buck and doe or a 250-300 class buck of a lifetime.  Our primary goal is to provide our clients with a safe, relaxing, ethial hunt that is unparrlel and build the bond of friendship that last a lifetime. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>