<div class="row center-block">
  <div class="col-md-2"></div>
  <div class="col-md-8">  
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Contact Us</h1>
        <hr>
      </div>
    </div>
    <div class="row">
  <div class="col-md-8 columns">
    <h3>Get in Touch!</h3>
    <p>
      We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.
    </p>
    <form role="form"> 

      <br />
      <div class="row">
        <div class="col-md-3"><label for="name">Your Name</label></div>
        <div class="col-md-9"><input type="text" id="name" class="form-control" placeholder="Your Name" /></div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-3"><label for="email">Your Email</label></div>
        <div class="col-md-9"><input type="email" id="email" class="form-control" placeholder="Your email" /></div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-3"><label>What's up?</label></div>
        <div class="col-md-9"><textarea rows="3" class="form-control"></textarea></div>
      </div>
      <br />
      <div class="pull-right"><a href="#" class="btn btn-primary active"><i class="fa fa-envelope fa-white"></i>&nbsp;&nbsp;Submit</a>
      </div>
    </form>
  </div>

  <div class="col-md-4 columns">
    
    <p>
      <h4 class="text-center"><i class="fa fa-home fa-color-main"></i> Lodge</h4>
      765 Scoville North Rd<br />
      Vienna, OH 44473<br />
      (234) 421-5731<br />
      Email: cwtranch@gmail.com
      <h4 class="text-center"><i class="fa fa-users fa-color-main"></i> Owner/Operators</h4>
      Anthony J. Candella
      <span class="pull-right">(330) 219-7877</span><br />
      Mike Mullenax
      <span class="pull-right">(330) 766-7709</span><br />
    </p>
    <p>
      <h4 class="text-center"><i class="fa fa-car fa-color-main"></i> Getting There</h4>
      You may drive in, rent a car from the airport or request full concierge service from the Candywood Whitetail Ranch staff.<br />
      <h5 class="text-center"><i class="fa fa-plane fa-color-main"></i> Distance from airports</h5>
      Youngstown Regional(YNG): <span class="pull-right">4 miles</span><br />
      Akron-Canton(CAK): <span class="pull-right">65 miles</span><br />
      Cleveland Hopkins International(CLE): <span class="pull-right">67 miles</span><br />
      Pittsburgh International(PIT): <span class="pull-right">69 miles</span>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <h4>Where We Are</h4>
          <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25895663.485556163!2d-95.665!3d37.599999999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1413882341048" width="550" height="400" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <br />
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
