<div class="row center-block">
  <div class="col-md-2"></div>
  <div class="col-md-8">  
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>FAQ</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  1. Do I need to worry about tags?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                No.  Because CWR is ODNR registered you do not need tags.
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                2. How old must you be to hunt at the CWR?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                You must be at least 18 years of age to hunt at the CWR.
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>  
