<%= render 'layouts/carousel' %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <hr />
  </div>
</div>

<div class="col-md-2"></div>
<div class="col-md-8"> 
<div class="row" style="padding-top:30px;">
    <div class="col-md-4">
      <img src="img/01.jpg"/>
      <h4 class="text-center">Bag Limits</h4>
      <p class="text-center">CWandywood Whitetail Ranch&copy; is an <a href="http://ohiodnr.gov">Ohio Department of Natural Resources</a> registered whitetail ranch.  There are no out of state licenses to buy or bag limits to worry about.</p>
    </div>
    
    <div class="col-md-4">
      <img src="img/02.jpg"/>
      <h4 class="text-center">Hunting</h4>
      <p class="text-center">We offer weekend &#38; weekday time slots</p>
      <p><strong>Weekend</strong> begins Thursday afternoon &#38; ends after Sunday a.m. hunt.</p>
    </div>
    
    <div class="col-md-4">
      <img src="img/3.jpg"/>
      <h4 class="text-center">Mission Statement</h4>
      <p>At Candywood Whitetail Ranch our mission is to facilitate the public use of this land in accordance with the rules and regulations set forth by the Ohio Department of Natural Resources. It is our goal to promote hunter education as well as create good relationships with our hunting preserve neighbors, wildlife o cers and surrounding community. We will strive to acquire education of wildlife management practices as well as protect non-game species. It is our quest to build and sustain long-term relationships with sportsmen across the land by providing quality hunts in a safe, ethical and diligent manner. Our sta  will strive to maintain this proclamation dated January 1, 2016.</p>
    </div>
   </div>
   </div>