<div class="row center-block">
  <div class="col-md-2"></div>
  <div class="col-md-8">  
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>The Lodge</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 columns">
        <p>
          The Lodge itself is of 1870 vintage, it has recently been renovated to a very unique Bed &#38; Breakfast hunt style lodge.  Accommodating 12 guests the lodge is equiped with a full service bar and dinning faculity(liquor license on premises).  Amenities include upper and lower lounge, multiple big screen tv's, pool table, putting green, horse shoes and internet capabilities.  Bass fishing is rederly available withint the confines of the ranch.
        </p>
        <ol>
          <ul>Lodge Amenities</ul>
          <ul>Internet / WiFi</ul>
          <ul>Upper &#38; Lower Lounge Areas</ul>
          <ul>Cable TV</ul>
          <ul>Fully stocked bar</ul>
          <ul>Horse Shoes</ul>
          <ul>Pool Table</ul>
          <ul>Shooting Range</ul>
          <ul>Putting Greens</ul>
          <ul>Taxidermy</ul>
          <ul>Meat Processing</ul>
          <ul>Fishing</ul>
          <ul>Relaxation</ul>
        </ol>
      </div>
      <div class="col-md-6 columns">
        <img alt="about-us-page" src="img/lodge01.jpg" />
      </div>
  </div>
</div>