<div class="row center-block">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Whitetail Deer</h1>
        <hr>
      </div>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="row">
        <p>
          Candywood Whitetail Ranch&copy; offers weekend and weekday time slots
        </p>
        <p>
          Weekend begins Thursday afternoon and ends after Sunday a.m. hunt.<br />
          Check-in begins Thursday between 11:00 a.m. and 2:00 p.m.<br />
          Check-out by 1:00 p.m. Sunday
        </p>
        <p>
          Weekday begins Monday a.m. and ends after Wednesday p.m. hunt.<br />
          Check-in after 3:00 p.m. Sunday
          Check-out after Wednesday p.m. hunt or Thursday by 11:00 a.m.
        </p>
      </div>
      <div class="row">
        <p>
          Typical day depending on sunrise.
          Early a.m. continental breakfast
          Late a.m./ Early p.m. brunch
          P.m. dinner, dessert of course
          Flexible
          Personalized hunts available upon request
          Hunts will be guided or semi-guided.
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row text-center">
        <div class="panel panel-heading"><h4>Trophy Buck Hunts</h4></div>
        <div class="panel panel-default">
          <div class="panel-body">120" to 139" - $1,800</div>
          <div class="panel-heading">140" to 150" - $2,500</div>
          <div class="panel-body">151" to 160" - $3,500</div>
          <div class="panel-heading">161" to 180" - $5,500</div>
          <div class="panel-body">181" to 200" - $7,500</div>
          <div class="panel-heading">201" to 230" - $8,500</div>
          <div class="panel-body">231" to 260" - $12,500</div>
          <div class="panel-heading">261" to 300" - $14,500</div>
          <div class="panel-body">300"+ - Call for pricing</div>
          <div class="panel-footer"><%= link_to "Contact Now", contact_path, class:"btn btn-primary active" %></div>
          <div class="small">Tips for guides not included.<br />Tips range from 7% - 10%</div>
        </div>
      </div>
    </div>
  </div>
</div>