<div class="row conbar">
  <div class="conbar-header">
    <div class="col-xs-4 col-xs-offset-8">
      <ul class="conbar-brand">
        <li><a href="https://www.facebook.com" alt="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube"></i></a></li>
        <li>|</li>
        <li><i class="fa fa-phone">&nbsp;&nbsp;234-421-5731</i></li>
        <li><img src="/assets/usa-flag.png" alt="USA" /></li>
      </ul>
    </div>
  </div>
</div>